.main-content {
    margin-left: 4rem;
    margin-top: 1rem;
}

.left-main-menu {
    margin-left: 2rem;
    margin-top: 1rem;
}

.main-content-title {
    margin-bottom: 2rem;
}

#check-auto-clear-products {
    margin: 1rem 0.3rem 1rem 2rem;
}

#menu-logo {
    height: 43px;
}
